In [1]:
import sqlite3
from sqlite3 import Error

In [2]:
def crate_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection reached successfully!")
    except Error as e:
        print(f"Error '{e}' occured")
        
    return connection

In [3]:
connection = crate_connection('E:\\sm_app.sqlite')

Connection reached successfully!

In [4]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query has been done successfully")
    except Error as e:
        print(f"Ocured some problems '{e}'")

In [5]:
create_uss_table = """
CREATE TABLE IF NOT EXISTS users(
id INTEGER PRIMARY KEY AUTOINCREMENT,
name TEXT NOT NULL,
age INTEGER,
gender TEXT,
nationality TEXT
);
"""

In [6]:
execute_query(connection, create_uss_table)

Query has been done successfully

In [7]:
create_post_table="""
CREATE TABLE IF NOT EXISTS post(
id INTEGER PRIMARY KEY AUTOINCREMENT,
title TEXT NOT NULL, 
description TEXT NOT NULL, 
user_id INTEGER NOT NULL, 
FOREIGN KEY (user_id) REFERENCES users (id)
);
"""

In [8]:
execute_query(connection, create_post_table)

Query has been done successfully

In [9]:
create_comments_table="""
CREATE TABLE IF NOT EXISTS comments(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    text TEXT NOT NULL, 
    user_id INTEGER NOT NULL, 
    post_id INTEGER NOT NULL,
    FOREIGN KEY (user_id) REFERENCES users (id) FOREIGN KEY (post_id) REFERENCES post (id)
);
"""

create_likes_table="""
    CREATE TABLE IF NOT EXISTS likes (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        user_id INTEGER NOT NULL, 
        post_id integer NOT NULL, 
        FOREIGN KEY (user_id) REFERENCES users (id) FOREIGN KEY (post_id) REFERENCES post (id)
    );
"""

execute_query(connection, create_comments_table)
execute_query(connection, create_likes_table)

Query has been done successfully
Query has been done successfully

In [10]:
create_users = """
INSERT INTO 
    users(name, age, gender, nationality)
VALUES
    ('James', 25, 'male', 'USA'),
    ('Leila', 32, 'female', 'France'),
    ('Brigitte', 35, 'female', 'England'),
    ('Mike', 40, 'male', 'Denmark'),
    ('Elizabeth', 21, 'female', 'Canada');
"""
execute_query(connection, create_users)

Query has been done successfully

In [11]:
create_posts = """
INSERT INTO 
    post(title, description, user_id)
VALUES
    ("Happy", "I am feeling very happy today", 1),
  ("Hot Weather", "The weather is very hot today", 2),
  ("Help", "I need some help with my work", 2),
  ("Great News", "I am getting married", 1),
  ("Interesting Game", "It was a fantastic game of tennis", 5),
  ("Party", "Anyone up for a late-night party today?", 3);
"""
execute_query(connection, create_posts)

Query has been done successfully

In [12]:
create_comments= """
INSERT INTO 
    comments(text, user_id, post_id)
VALUES
    ('Count me in', 1, 6),
  ('What sort of help?', 5, 3),
  ('Congrats buddy', 2, 4),
  ('I was rooting for Nadal though', 4, 5),
  ('Help with your thesis?', 2, 3),
  ('Many congratulations', 5, 4);
"""

create_likes = """
INSERT INTO 
    likes(user_id, post_id)
VALUES
    (1, 6),
  (2, 3),
  (1, 5),
  (5, 4),
  (2, 4),
  (4, 2),
  (3, 6);
"""

execute_query(connection, create_comments)
execute_query(connection, create_likes)

Query has been done successfully
Query has been done successfully

In [13]:
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"Occurred some {e} question")

In [14]:
select_users = "SELECT * from users"
users = execute_read_query(connection, select_users)

for user in users:
    print(user)

(1, 'James', 25, 'male', 'USA')
(2, 'Leila', 32, 'female', 'France')
(3, 'Brigitte', 35, 'female', 'England')
(4, 'Mike', 40, 'male', 'Denmark')
(5, 'Elizabeth', 21, 'female', 'Canada')
(6, 'James', 25, 'male', 'USA')
(7, 'Leila', 32, 'female', 'France')
(8, 'Brigitte', 35, 'female', 'England')
(9, 'Mike', 40, 'male', 'Denmark')
(10, 'Elizabeth', 21, 'female', 'Canada')
(11, 'James', 25, 'male', 'USA')
(12, 'Leila', 32, 'female', 'France')
(13, 'Brigitte', 35, 'female', 'England')
(14, 'Mike', 40, 'male', 'Denmark')
(15, 'Elizabeth', 21, 'female', 'Canada')

In [15]:
selct_post = "SELECT * from post"
post = execute_read_query(connection, selct_post)

for posts in post:
    print(posts)

(1, 'Happy', 'I am feeling very happy today', 1)
(2, 'Hot Weather', 'The weather is very hot today', 2)
(3, 'Help', 'I need some help with my work', 2)
(4, 'Great News', 'I am getting married', 1)
(5, 'Interesting Game', 'It was a fantastic game of tennis', 5)
(6, 'Party', 'Anyone up for a late-night party today?', 3)
(7, 'Happy', 'I am feeling very happy today', 1)
(8, 'Hot Weather', 'The weather is very hot today', 2)
(9, 'Help', 'I need some help with my work', 2)
(10, 'Great News', 'I am getting married', 1)
(11, 'Interesting Game', 'It was a fantastic game of tennis', 5)
(12, 'Party', 'Anyone up for a late-night party today?', 3)
(13, 'Happy', 'I am feeling very happy today', 1)
(14, 'Hot Weather', 'The weather is very hot today', 2)
(15, 'Help', 'I need some help with my work', 2)
(16, 'Great News', 'I am getting married', 1)
(17, 'Interesting Game', 'It was a fantastic game of tennis', 5)
(18, 'Party', 'Anyone up for a late-night party today?', 3)

In [19]:
select_from_post = """
    SELECT
    users.id,
    users.name,
    post.description
    FROM
    post
    INNER JOIN users ON users.id = post.user_id
    
"""

users_posts = execute_read_query(connection, select_from_post)

for user_post in users_posts:
    print(user_post)

(1, 'James', 'I am feeling very happy today')
(2, 'Leila', 'The weather is very hot today')
(2, 'Leila', 'I need some help with my work')
(1, 'James', 'I am getting married')
(5, 'Elizabeth', 'It was a fantastic game of tennis')
(3, 'Brigitte', 'Anyone up for a late-night party today?')
(1, 'James', 'I am feeling very happy today')
(2, 'Leila', 'The weather is very hot today')
(2, 'Leila', 'I need some help with my work')
(1, 'James', 'I am getting married')
(5, 'Elizabeth', 'It was a fantastic game of tennis')
(3, 'Brigitte', 'Anyone up for a late-night party today?')
(1, 'James', 'I am feeling very happy today')
(2, 'Leila', 'The weather is very hot today')
(2, 'Leila', 'I need some help with my work')
(1, 'James', 'I am getting married')
(5, 'Elizabeth', 'It was a fantastic game of tennis')
(3, 'Brigitte', 'Anyone up for a late-night party today?')

In [22]:
select_post_comments = """
    SELECT 
        post.description as post,
        text as comment,
        name
    FROM
        post
        INNER JOIN comments ON post.id = comments.post_id
        INNER JOIN users ON users.id = comments.user_id
    
"""
execute_post_com = execute_read_query(connection, select_post_comments)

for p_c in execute_post_com:
    print(p_c)

('Anyone up for a late-night party today?', 'Count me in', 'James')
('I need some help with my work', 'What sort of help?', 'Elizabeth')
('I am getting married', 'Congrats buddy', 'Leila')
('It was a fantastic game of tennis', 'I was rooting for Nadal though', 'Mike')
('I need some help with my work', 'Help with your thesis?', 'Leila')
('I am getting married', 'Many congratulations', 'Elizabeth')
('Anyone up for a late-night party today?', 'Count me in', 'James')
('I need some help with my work', 'What sort of help?', 'Elizabeth')
('I am getting married', 'Congrats buddy', 'Leila')
('It was a fantastic game of tennis', 'I was rooting for Nadal though', 'Mike')
('I need some help with my work', 'Help with your thesis?', 'Leila')
('I am getting married', 'Many congratulations', 'Elizabeth')
('Anyone up for a late-night party today?', 'Count me in', 'James')
('I need some help with my work', 'What sort of help?', 'Elizabeth')
('I am getting married', 'Congrats buddy', 'Leila')
('It was a fantastic game of tennis', 'I was rooting for Nadal though', 'Mike')
('I need some help with my work', 'Help with your thesis?', 'Leila')
('I am getting married', 'Many congratulations', 'Elizabeth')

In [23]:
cursor = connection.cursor()
cursor.execute(select_post_comments)
cursor.fetchall()

execute_names = [description[0] for description in cursor.description]
print(execute_names)

['post', 'comment', 'name']

In [25]:
select_likes_posts = """
    SELECT 
        description as Post,
        COUNT(likes.id) as Likes
    FROM
        post,
        likes
    WHERE
        post.id = likes.post_id
    GROUP BY
        likes.post_id
"""
execute_likes_posts = execute_read_query(connection, select_likes_posts)

for li_po in execute_likes_posts:
    print(li_po)

('The weather is very hot today', 3)
('I need some help with my work', 3)
('I am getting married', 6)
('It was a fantastic game of tennis', 3)
('Anyone up for a late-night party today?', 6)

In [26]:
#Update records

In [31]:
select_sec_post = "SELECT description FROM post WHERE id=2"
ex_sec_post = execute_read_query(connection, select_sec_post)

for sec in ex_sec_post:
    print(sec)

('The weather is very hot today',)

In [34]:
update_post_desc="""
    UPDATE
        post
    SET
        description="The weather is pleasant today"
    WHERE
    id=2
"""

execute_query(connection, update_post_desc)

Query has been done successfully

In [35]:
select_sec_post = "SELECT description FROM post WHERE id=2"
ex_sec_post = execute_read_query(connection, select_sec_post)

for sec in ex_sec_post:
    print(sec)

('The weather is pleasant today',)

In [36]:
#DELETING TADBLE RECORDS

In [37]:
delete_row = "DELETE FROM comments WHERE id=5"
execute_query(connection, delete_row)

Query has been done successfully